<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quizzify"
        tools:targetApi="31">
        <activity
            android:name=".activities.UserProfile"
            android:exported="false" />
        <activity
            android:name=".activities.TimerActivity"
            android:exported="false" />
        <activity
            android:name=".QuizGameActivity3"
            android:exported="false" />
        <activity
            android:name=".activities.GameActivity3"
            android:exported="false" />
        <activity
            android:name=".activities.QuizGameActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.StartActivity3"
            android:exported="false" />
        <activity
            android:name=".activities.StartActivity2"
            android:exported="false" />
        <activity
            android:name=".StartQuiz"
            android:exported="false" />
        <activity
            android:name=".activities.PlayQuiz2"
            android:exported="false" />
        <activity
            android:name=".PlayQuiz"
            android:exported="false" />
        <activity
            android:name=".PlayQuiz2"
            android:exported="false" />
        <activity
            android:name=".PlayTextQuiz"
            android:exported="false" />
        <activity
            android:name=".PlayQuizActivity"
            android:exported="false" />
        <activity
            android:name=".ImageQuesList"
            android:exported="false" />
        <activity
            android:name=".activities.ImageQuesPage"
            android:exported="false" />
        <activity
            android:name=".adaptor.ProfileAdapter"
            android:exported="false" />
        <activity
            android:name=".profilePage"
            android:exported="false" />
        <activity
            android:name=".ProfileListActivity"
            android:exported="false" />
        <activity
            android:name=".UploadImageActivity2"
            android:exported="false" />
        <activity
            android:name=".loadingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UploadingImageActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateDialog"
            android:exported="false" />
        <activity
            android:name=".QuizGameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FetchingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InsertionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InsertPlayChooseActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".SideActivity"
            android:exported="false" />
        <activity
            android:name=".FirstPageQuizzify"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>